/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body styling */
body {
    color: #333; /* Dark grey for text */
    line-height: 1.6;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    box-shadow: 0 2px 4px;
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Align items to the bottom */
    background-color: #decca9;
}

.navbar .navbar-brand {
    color: #33661f;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
}

.navbar .navbar-brand:hover {
    color: #244715;
}

.navbar .navbar-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: center; /* Centering the nav items */
}

.navbar .nav-item {
    margin-right: 20px; /* Space between nav items */
}

.navbar .nav-link {
    color: #33661f;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s;
    padding-bottom: 10px; /* Align with navbar-brand */
}

.nav-link:hover {
    color: #244715; /* Darker color on hover */
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #244715;
    transition: width 0.3s;
    margin: 0 auto;
}

.nav-link:hover::after {
    width: 100%;
}

/* Container for page content */
.container {
    max-width: 800px;
    width: 100%;
    background-color: #fff; /* White background for content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
    margin-top: 20px;
    text-align: center; /* Center-align text */
}
.form-container {
    background-color: #fff;
}


/* Header styling */
header {
    width: 100%;
    background-color: #6b8e23; /* Olive green */
    padding: 20px 0;
    text-align: center;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Main content styling */
main {
    padding: 20px;
}

h2, h3, h4 {
    color: #6b8e23; /* Olive green for headings */
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Footer styling */
footer {
    width: 100%;
    background-color: #6b8e23; /* Olive green */
    padding: 10px 0;
    text-align: center;
    color: #fff;
    border-radius: 0 0 8px 8px;
    margin-top: 20px;
}

a {
    color: #468966; /* Darker green for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Button styling */
.btn-group {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between buttons */
    margin-top: 20px;
}

.btn {
    background-color: #8fbc8f; /* Dark sea green */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #6b8e23; /* Olive green on hover */
}
.btn-delete {
    background-color: #e74c3c; /* Red */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.btn-delete:hover {
    background-color: #c0392b; /* Darker red on hover */
}

/* Form group styling */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

/* Label styling */
.form-group label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
    color: #555; /* Lighter grey for labels */
}

/* Input styling */
.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f9f9f9; /* Light grey background for inputs */
}

/* Specific styling for the submit button */
.form-group input[type="submit"] {
    background-color: #8fbc8f; /* Dark sea green */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #6b8e23; /* Olive green on hover */
}

/* Input focus styling */
.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus {
    border-color: #6b8e23; /* Olive green border on focus */
    outline: none;
}

/* Fieldset styling for better grouping */
fieldset {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Legend styling */
legend {
    font-size: 1.2em;
    padding: 0 10px;
    color: #333; /* Dark grey for text */
}

dl.error dd.error {
    color: #e74c3c; /* Red for error messages */
    font-size: 1.1em; /* Larger font size for errors */
    margin-top: 5px;
}

dd.info {
    color: #a3c9a1;
    font-size: 0.9em;
     margin-top: 2px;
 }

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

.td-btn-item {
 border: 1px solid #fff;
 background-color: #fff;
}


th {
    background-color: #6b8e23; /* Olive green for table header */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
