@import models.DataModel
@import helper._

@(books: Seq[DataModel])(implicit request: RequestHeader, messages: Messages)

@main("List of Books") {
<div class="container">
    <h1>List of Books</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Page Count</th>
        </tr>
        </thead>
        <tbody>
        @for(book <- books) {
        <tr>
            <td>@book._id</td>
            <td>@book.title</td>
            <td>@book.subtitle</td>
            <td>@book.pageCount</td>
            <td>
                @helper.form(action = routes.ApplicationController.deleteBook(book._id), 'method -> "POST") {
                @helper.CSRF.formField
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit" class="btn btn-danger">Delete</button>
                }
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
}